# Core dependencies
pandas
scikit-learn
joblib
Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Login
Werkzeug

# YOLOv8
ultralytics  # YOLOv8 package

# Image processing
opencv-python
Pillow

# Optional: if you use Jupyter for experiments
Jupyter
