@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: Alan Sans;
    background-color: rgb(230, 222, 222);
}

a {
    text-decoration: none;
    color: rgb(230, 222, 222);
}